@import  "./components/common";
@import "./utils/variables.scss";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/backdrop.scss";
@import "./components/lorem.scss";
@import "./components/work.scss";
@import "./components/team.scss";
@import "./components/clients.scss";
@import "./components/footer.scss";
@import "./components/portfolio.scss";