.container {
    max-width: 100%;
    padding: 0px 10px;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0 57px;
        margin: 0 auto;
        max-height: 400px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
            padding: 0 201px;
            margin: 0 auto;

    }
}

@media screen and (min-width: 1200px) {
    .container {
max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    }
}

// * {
//     color: black;
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

// body {
//     font-family: "Roboto", "Raleway", sans-serif;
//     color: #212121;
//     border: 0;
//     background-color: var(--color-white);
//     margin: 0 auto;
// }

// img {
//     display: block;
//     object-fit: cover;
// }

// a:hover,
// a:focus {
//     color: var(--brand-color);
// }

// .container {
//     width: 1200px;
//     margin-right: auto;
//     margin-left: auto;
//     align-items: center;
//     padding: 0 15px;
// }

// .section {
//     padding: 94px 0px 94px 0px;
// }

// .flex {
//     display: flex;
// }

// .active::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 48px;
//     height: 4px;
//     border-radius: 10px 10px 10px 10px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// input {
//     outline: none
// }
