.footer {
    background-color: #2f303a;
    color: var(--color-secondary);
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    background-size: cover;
    padding-right: 0px;
    // max-width: 480px;
    // max-height: 603px;
    margin: 0 auto;
    align-items: center;
    background-size: 480px;


&__style {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
   justify-content: center;
}

&__logo {
    padding-top: 60px;
    padding-bottom: 0;
    padding-left: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;


&-style {
    text-decoration: none;
    color: var(--brand-color);
}

&-span {
    color: var(--color-white);
}
}
&__address {
    font-style: normal;
    padding-left: 0px;
    margin: 0 auto;

   
    &-style {
    color: var(--color-white);
    font-style: normal;
    }
}

&__list {
    margin-top: 8px;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    padding-right: 50px;
}



&__contact {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

&-socials {
   
    padding-top: 30px;
    padding-bottom: 30px;


&__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
    padding-bottom: 20px;
}

&__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 0px;
}
}
}
.footer-socials__list-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--color-white);
    border-radius: 50%;
    background: var(--svg-background);
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background: var(--brand-color);
    cursor: pointer;
}
}

.newsletter {
    padding-top: 30px;
    margin: 0 auto;
    padding: 0 15px;
    width: 480px;
    margin-bottom: 60px;
    
   
    

&__form {
    padding: 0;
    margin: 0;

}

&__label {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--color-white);
    padding-bottom: 20px;
    display: block;
}

&__input {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow (0px 4px 4px rgba (0, 0, 0, 0.15));
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

&__button {
    max-height: 50px;
    max-width: 200px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 42px;
    padding-bottom: 10px;
    padding-right: 13px;

&-span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    color: var(--color-white);
}

&-svg {
    margin-left: 24px;
}
}
}
@media screen and (min-width: 768px) {
    .footer {
    background-color: #2f303a;
    color: var(--color-secondary);
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    background-size: cover;
    padding-right: 0px;
    // max-width: 480px;
    // max-height: 603px;
    margin: 0 auto;
    align-items: center;
    background-size: 480px;

    @media screen and (min-width: 1200px) {
        background-size: 1600px;
        height: 252px;
    }


&__style {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
   justify-content: center;

@media screen and (min-width: 1200px) {
    margin-left: 20px;
    height: 252px;

}
}

&__logo {
    padding-top: 60px;
    padding-bottom: 0;
    padding-left: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

@media screen and (min-width: 1200px) {
    margin-top: 0px;
    text-align: start;
}

&-style {
    text-decoration: none;
    color: var(--brand-color);
}

&-span {
    color: var(--color-white);
}
}
&__address {
    font-style: normal;
    padding-left: 0px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
        }

    

    &-style {
    color: var(--color-white);
    font-style: normal;
    }
}

&__list {
    margin-top: 8px;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    padding-right: 50px;

    @media screen and (min-width: 1200px) {
        padding-top: 0px;
        margin-top: 0px;
    }
}




&__contact {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

&-socials {
   
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
        padding-top: 76px;
        padding-bottom: 46px;
        }
    }


&__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-bottom: 20px;
    }
}

&__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 0px;

    @media screen and (min-width: 1200px) {
        padding-top: 20px;
    }
}
}
.footer-socials__list-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--color-white);
    border-radius: 50%;
    background: var(--svg-background);
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background: var(--brand-color);
    cursor: pointer;
}
}

.newsletter {
    padding-top: 30px;
    margin: 0 auto;
    padding: 0 15px;
    width: 480px;
    margin-bottom: 60px;
    
@media screen and (min-width: 1200px) {
    margin: 0 auto;
        padding: 17px 15px;
        width: 589px;
        margin-bottom: 60px;
        margin-top: 49px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    

&__form {
    padding: 0;
    margin: 0;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        }
    }

}

&__label {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--color-white);
    padding-bottom: 20px;
    display: block;

    @media screen and (min-width: 1200px) {
       
    text-align: start;
            
    }
}

&__input {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow (0px 4px 4px rgba (0, 0, 0, 0.15));
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 354px;
    }
}

&__button {
    max-height: 50px;
    max-width: 200px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 42px;
    padding-bottom: 10px;
    padding-right: 13px;

    @media screen and (min-width: 1200px){
        padding-top: 9px;
        padding-left: 48px;
        margin-top: 37px;
    }

&-span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    color: var(--color-white);
}

&-svg {
    margin-left: 24px;
}
}
}
}

@media screen and (min-width: 768px) {
    .footer__logo {
         margin-top: 0px;
}
.footer-socials {
    padding-top: 65px;
    padding-bottom: 30px;
}
}