.header {
    border-bottom: 1px solid var(--line);
    margin: 0 auto;
    // background-size: 480;
}

.header .container {
    align-items: center;
    justify-content: space-around;
}

.header__style {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin: 0 auto;
    max-width: 480px;
    height: 60px;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
   
}

.logo {
    margin-right: 90px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.2em;
    text-decoration: none;
}

.logo__header {
    color: var(--brand-color);
    max-width: 134px;
    max-height: 28px;
}

.header__menu {
    display: none;
    // align-items: center;
    // list-style: none;
    // text-decoration: none;
}

.header__menu a {
   display:none
}

.header__menu-list:not(:last-child) {
    display: none;
}
 .header__contact {
     display: none;
     ;
 }

// .header__menu-link {
//     position: relative;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     transition: color 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .header__menu-link:hover,
// .header__menu-link:focus {
//     color: var(--brand-color);
// }

// .header__menu-link.active:after,
// .header__menu-link:hover:after,
// .header__menu-link:focus:after {
//     background: var(--brand-color);
// }

// .header__mobile {
//     display: flex;
//     font-size: 14px;
//     line-height: 24px;
//     list-style: none;
// }

// .header__mobile-list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .header__mobile-link {
//     color: var(--color-third);
//     line-height: 1.14em;
//     margin-right: 10px;
//     transition: color 250ms, fill 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     text-decoration: none;
//     background-color: #FFFFFF;
//     outline: none;
//     border: #FFFFFF;
//     max-width: 40px;
//     max-height: 40px;
// }
// .header__mobile-icon {
//         margin-right: 10px;
//         fill: var(--color-third);
//         display: inline-flex;
//         align-self: center;
//         transition: color 250ms, fill 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       
//     }

//     .header__mobile-icon:hover,
//     .header__mobile-icon:focus {
//         fill: var(--brand-color);
//     }

//     .header__mobile-link:hover .header__mobile-icon {
//         fill: var(--brand-color);
//     }

// .header__contact-icon {
//     margin-right: 10px;
//     fill: var(--color-third);
//     display: inline-flex;
//     align-self: center;
//     transition: color 250ms, fill 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .header__contact-icon:hover,
// .header__contact-icon:focus {
//     fill: var(--brand-color);
// }

// .header__contact-link:hover .header__contact-icon {
//     fill: var(--brand-color);
// }

.menu-container {
    position: fixed;
    width: 100vw;
    height: 100%;
    padding: 48px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;
    opacity: 0;
    visibility: visible;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-menu-container {
position: absolute;
top: 0;
}
.is-open {
    opacity: 1;
    pointer-events: none;
    transform: scaleY(0);
    visibility: visible;
}
// .js-close-menu {
//     position: relative;
//         left: 490px;
//         top: 8px;
//         width: 30px;
//         height: 30px;
//         background-color: transparent;
//         border: 1px solid rgba(0, 0, 0, 0.1);
//         border-radius: 50%;
//         cursor: pointer;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//             background-color 250ms cubic-bezier (0.4, 0, 0.2, 1);
    
//         &:hover,
//         &:focus {
//             background: var(--brand-color);
//             color: var(--color-white);
//         }
// }

.menu-container__menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: #fff;
    opacity: 1;
    background-color: #ffffff;
    z-index: 3;
}

.menu-container.is-open {
    transform: translateX(0);
    display: block;
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
    color: #2196f3;
}
.js-menu-close{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 528px;
    min-height: 581px;
    box-shadow: 0px 1px 3px rgb(0 0 0 /12%), 0px 1px 1px rgb(0 0 0/14%),
    0px 2px 1px rgb(0 0 0 /20%);
    border-radius: 4px;
}
.menu-toggle-close {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
.menu-toggle-close:hover,
.menu-toggle-close:focus {
color: #2196f3;
border: #2196f3;
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {

    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
}

//. 768px.//
@media screen and (min-width: 768px) {
.header {
    border-bottom: 1px solid var(--line);
    margin: 0 auto;
    }
.header .container {
    
    align-items: center;
    
    
    }
    .header__style {
            display: flex;
            justify-content: space-between;
            padding-left: 0px;
            margin: 0 auto;
            max-width: 768px;
            margin-right: 0px;
            margin-left: 0px;
            align-items: center;

            
        }
        .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 26px 10px;
            width: 168px;
            height: 18px;
        }
    
        .logo {
            margin-right: 0px;
            font-family: Raleway;
            font-weight: 700;
            font-size: 26px;
            letter-spacing: 0.03em;
            line-height: 1.2em;
            text-decoration: none;
        }
    
        .logo__header {
            color: var(--brand-color);
            max-width: 134px;
            max-height: 28px;
        }
    
        .header__menu {
            display: flex;
            align-items: center;
            list-style: none;
            text-decoration: none;
            justify-content: space-between;
        }
    
        .header__menu a {
            text-decoration: none;
            color: #000000;
            font-size: 16px;
            font-weight: 500;
        }
    
        .header__menu-list:not(:last-child) {
            margin-right: 30px;
        }
    
        .header__menu-link {
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            transition: color 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            width: 53px;
            height: 18px;
        }
    
        .header__menu-link:hover,
        .header__menu-link:focus {
            color: var(--brand-color);
        }
    
        .header__menu-link.active:after,
        .header__menu-link:hover:after,
        .header__menu-link:focus:after {
            background: var(--brand-color);
        }
                .header__mobile {
                    display: none;
                   
                }
        
                .header__mobile-list {
                    display: none;
                }
    
        .header__contact {
            display: flex;
            font-size: 14px;
            line-height: 24px;
            list-style: none;
            flex-direction: column;
            gap: 10px;
        }
    
        .header__contact-list {
            display: flex;
            align-items: center;
    
        }
    
        .header__contact-link {
            color: var(--color-third);
            line-height: 1.14em;
            margin-right: 10px;
            transition: color 250ms, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            text-decoration: none;
        }
    
        .header__contact-icon {
            margin-right: 10px;
            fill: var(--color-third);
            display: inline-flex;
            align-self: center;
            transition: color 250ms, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .header__contact-icon:hover,
        .header__contact-icon:focus {
            fill: var(--brand-color);
        }
    
        .header__contact-link:hover .header__contact-icon {
            fill: var(--brand-color);
        }
 .menu-toggle {
    display: none;
 }
}