.team {
    background-color: #f5f4fa;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 0px;
    margin: 0 auto;

&__title {
    font-size: 36px;
    line-height: 1.17em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}

&__person {
    display: block;
    justify-content: space-between;
    // padding: 30px 15px;
    padding-left: 0px;
}

&__list {
    list-style-type: none;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    margin: 0 auto;
    

    
}
&__figure {
    margin: 0 auto;
    max-width: 100%;
}

&__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.142em;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 30px;
}

&__occupation {
    letter-spacing: 0.03em;
    line-height: 1.187em;
    color: var(--color-third);
    padding-bottom: 16px;
    font-size: 16px;
}
}

.team__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    list-style: none;
    padding-left: 0px;


&-item {
    display: inline-flex;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-bg);
    transition: background-color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

&:not(:last-child) {
    margin-right: 10px;
}

&:hover,
&:focus,
&:active {
    background-color: var(--brand-color);
    fill: var(--color-white);
}
}
}
.team__section {
    padding: 60px 15px 60px 15px;
        max-width: 480px;
        background-size: cover;
    }
@media screen and (min-width: 768px) {
    .team {
            background-color: #f5f4fa;
            justify-content: center;
            flex-direction: column;
            padding-left: 0px;
            padding-bottom: 60px;
            padding-top: 60px;
            padding-right: 0px;
            margin: 0 auto;
    
            &__title {
                font-size: 36px;
                line-height: 1.17em;
                font-weight: 700;
                text-align: center;
                letter-spacing: 0.03em;
                padding-bottom: 50px;
            }
    
            &__person {
                display: block;
                justify-content: space-between;
                // padding: 30px 15px;
                padding-left: 0px;
            }
    
            &__list {
                list-style-type: none;
                text-align: center;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
                background-color: #fff;
                margin: 0 auto;
    
    
    
            }
    
            &__figure {
                margin: 0 auto;
                max-width: 100%;
            }
    
            &__name {
                font-weight: 700;
                font-size: 16px;
                line-height: 1.142em;
                letter-spacing: 0.03em;
                margin-bottom: 10px;
                padding-top: 30px;
            }
    
            &__occupation {
                letter-spacing: 0.03em;
                line-height: 1.187em;
                color: var(--color-third);
                padding-bottom: 16px;
                font-size: 16px;
            }
        }
    
        .team__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            gap: 10px;
            list-style: none;
            padding-left: 0px;
    
    
            &-item {
                display: inline-flex;
                padding: 12px;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                fill: var(--icon-bg);
                transition: background-color 250ms, fill 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
                &:not(:last-child) {
                    margin-right: 10px;
                }
    
                &:hover,
                &:focus,
                &:active {
                    background-color: var(--brand-color);
                    fill: var(--color-white);
                }
            }
        }
    
        .team__section {
            padding: 60px 15px 60px 15px;
            max-width: 480px;
            background-size: cover;
        }
}