.work {
    padding-bottom: 94px;


&__title {
    font-size: 36px;
    line-height: 1.17em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}

&__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

&__item {
    position: relative;


&-img {
    width: 370px;
}

& .work__item-label {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 27px 90px;
}
}
}