:root {
    --brand-color: #2196f3;
    --color-secondary: #060404;
    --color-third: #757575;
    --color-white: #ffffff;
    --line: #ececec;
    --icon-bg: #afb1b8;
    --svg-background: rgba(255, 255, 255, 0.1);
}